*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  background-color: #f7f7fb;
  display: flex;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

a,
a:visited {
  text-decoration: none;
}
